{% extends 'main.html.twig' %}

{% block title %}
Login
{% endblock %}

{% block meta_description %}
<meta name = "description" content = "Formulario de início de sesión" />
{% endblock %}

{% block main_content %}
	{% if flash | length > 0 %}
		{% if flash.error %}
		<h4>{{flash.error}}</h4>
		{% endif %}
	{% endif %}
<form action = "{{action}}" method = "POST">
	<input type = "text" name = "usr_login" placeholder = "Nombre de usuario" />
	<input type = "password" name = "passwd_login" placeholder = "Contraseña" />
	<input type = "submit" name = "btn-login" value = "Iniciar" />
	<input type = "hidden" name = "_token" value = "{{token}}" />
</form>
{% endblock %}